/* body > contentForm > page */

#page {
    width: auto;
    margin: 0 3px;
    background: #FFFFFF;
    padding: 0px;
}

#page table{
    font-size: 16px !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

/* body > contentForm > page > layout > tituloAtividade > title */

.title {
    height: 30px;
    margin-left: 0px;
    margin-bottom: 3px;
    padding: 8px 0 0 10px;
    text-align: center;
}

.title a {
    border-bottom: none;
    color: #FFFFFF;
}

.title a:hover {
    border-bottom: 1px dotted #000000;
}

.nomeSistema {
    top: 20px;
    color: darkblue;
    font-size: 50px;
    text-align: left;
    width: 100%;
}

