name: Java CI

on: 
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Java ${{ matrix.java }}
    strategy:
      matrix:
        java: [21]

    steps:
      - uses: actions/checkout@v4.1.1

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4.0.0
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'

      - name: Cache local Maven repository
        uses: actions/cache@v4.0.0
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - uses: browser-actions/setup-chrome@v1.4.0

      - name: Validate
        run: ./mvnw -B clean validate

      - name: Check spotbugs
        run: ./mvnw -B -DskipTests=true -P check-spotbugs verify

      - name: Tests
        run: ./mvnw -B -DwebDriverType=chrome verify
